@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 1519px;
    height: 729px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .1)),  url('https://images.pexels.com/photos/466685/pexels-photo-466685.jpeg?cs=srgb&dl=pexels-lkloeppel-466685.jpg&fm=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

.contactmain {
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}

.contactmainleft {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0 0 30px;
    background-color: #ffffff;

}

.contactmainright {
    width: 50%;
    height: 100%;
    background-image: url('Screenshot\ 2025-01-15\ 120513.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 30px 30px 0;
}

.contactmainlefttop {
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.contactmainlefttoptext {
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family:"Poppins", serif;;
    border: solid 0.5px #5A5A5A;
    border-radius: 7px;
}



.contactmainlefttoptextname {
    width: 90%;
    height: 15%;

    font-family:"Poppins", serif;;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.contactmainlefttoptextemail {
    width: 90%;
    height: 17%;
    font-family:"Poppins", serif;;
    border-radius: 7px;
}

.contactmainlefttoptextmessage {
    width: 90%;
    height: 20%;
    font-family:"Poppins", serif;;
}

.contactmainleftbottom {
    width: 50%;
    height: 10%;
    margin-left: -140px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendmessagebutton {
    width: 100%;
    height: 100%;
    border: solid 0.5px #5A5A5A;
    font-family:"Poppins", serif;;
    background-color: #2a94e2;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}

.contactmainlefttoptextnameinput {
    width: 100%;
    height: 70%;
    border: solid 0.5px #5A5A5A;
    border-radius: 7px;
}   

.contactmainlefttoptextemailinput {
    width: 100%;
    height: 70%;
    border: solid 0.5px #5A5A5A;
    border-radius: 7px;
}

.contactmainlefttoptextmessageinput{
    width: 100%;
    height: 75%;
}

.nameinput {
    width: 100%;
    height: 100%;
    border: none;
    font-family:"Poppins", serif;;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.emailinput {
    width: 100%;
    height: 100%;
    border: none;
    font-family:"Poppins", serif;;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.messageinput {
    width: 100%;
    height: 100%;
    border: solid 0.5px #5A5A5A;
    font-family:"Poppins", serif;;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.contactmainlefttoptexth1 {
    font-family:"Poppins", serif;;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 300;
}   

@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1519px;
    height: 700px;
    gap: 0px;
    opacity: 0px;
    background-image: url("Rectangle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 180px;
}

.nav-left {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-center {
    width: 366px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
}

.nav-left-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    font-family: "Poppins", serif;
}

.nav-right {
    width: 272px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-center-text {
    width: 220px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-center-text-text {
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", serif;
}

.nav-center-left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(file\ \(3\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-right-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right-text-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    font-family: "Poppins", serif;
}

.nav-right-button {
    width: 70%;
    height: 40%;
    border: 1px solid rgba(42, 148, 226, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-right-button-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", serif;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    padding-left: 140px;
    padding-bottom: 120px;
}

.agent {
    width: 586px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textdiv {
    width: 540px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rabota {
    width: 770px;
    height: 131px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.veavediv {
    width: 500px;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonn {
    width: 360px;
    height: 70px;
}

.agent-text {
    font-size: 35px;
    font-weight: 3000;
    font-family: "Poppins", serif;

}

.textdiv-text {
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", serif;
}

.rabota17 {
    width: 184px;
    height: 131px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pomogli1963 {
    width: 326px;
    height: 131px;
}


.pomogli1963 {
    width: 326px;
    height: 131px;
}

.find {
    background-color: #2a94e2;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.buttonh1 {
    color: white;
    font-family: "Poppins", serif;
    size: 20px;
}

.let10 {
    width: 224px;
    height: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yetti {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yettih1 {
    color: black;
    font-size: 60px;
    font-weight: 300;
    font-family: "Poppins", serif;
}

.texth1 {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.texth11 {
    font-size: 14px;
    font-weight: 100;
    font-family: "Poppins", serif;
}

.p1963 {
    width: 100%;
    height: 131px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.p1963h1 {
    font-size: 60px;
    font-family: "Poppins", serif;
    font-weight: 100;
}

.text1963 {
    width: 129px;
    height: 53px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 13px;
}

.text1963h1 {
    font-size: 15px;
    font-family: "Poppins", serif;
    font-weight: 100;
}

.p10 {
    width: 86px;
    height: 131px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.p10h1 {
    font-size: 60px;
    font-family: "Poppins", serif;
    font-weight: 100;
}

.p10minidiv {
    width: 118px;
    height: 53px;

}

.p10minih1 {
    font-size: 15px;
    font-family: "Poppins", serif;
    font-weight: 100;
}

.mainbottom {
    border: solid;
    width: 1519px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.mainbottomintextdiv {
    border: solid;
    width: 959px;
    height: 100px;

}

.mainbottominlocation {
    border: solid;
    width: 1140px;
    height: 472px;

}

.bartop {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}

.barin {
    width: 1280px;
    height: 56px;
    padding: 0px 32px 0px 32px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.personal {
    width: 139.91px;
    height: 100%;
    gap: 12px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -19px;

}

.personalh1 {

    font-family: Sora;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.ppp {
    width: 39.91px;
    height: 100%;
    padding: 2.64px 8.38px 2.64px 8.38px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(file\ \(3\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.fortext {
    width: 88px;
    height: 24px;

    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutmeskillsprojectparent {
    width: 437px;
    height: 24px;
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.aboutmediv {
    width: 98px;
    height: 24px;
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutmediv {
    width: 98px;
    height: 24px;
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutmeh1 {
    font-family: Sora;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: none;
    color: black;

}

.skillsh1 {

    font-family: Sora;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.projecth1 {

    font-family: Sora;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.conactmeh1 {
    font-family: Sora;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;

}

.resumediv {

    width: 153px;
    height: 56px;
    gap: 20px;
    border-radius: 4px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.resumebuttom {
    width: 153px;
    height: 56px;
    border: none;
    background-color: black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumeh1 {
    color: #FFFFFF;
    font-family: Sora;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}



.resumedivin {
    width: 85px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-container {
    padding: 20px;
    border-radius: 5px;
    margin-right: -110px;
}

.search-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: "Poppins", serif;
}

.search-input {
    width: 200px;
    padding: 10px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    font-family: "Poppins", serif;
}

.contactlinkbutton {
    text-decoration: none;
    color: black;
}

.contactlinkbutton :hover{
    color: #2a94e2;
}

.aboutmeh1 :hover{
    color: #2a94e2;
}

.aboutmeh11 {
    text-decoration: none;
    color: black;
}
.projecth11 :hover{
    color: #2a94e2;
}

.projecth11 {
    text-decoration: none;
    color: black;
}

